body {
    background-color: #808ea4;
    /* Background color */
    color: #212121;
    /* Text color */
}

.card-header {
    text-align: center;
    padding: 1rem;
}

h1 {
    color: #00CE7C;
    /* Header text color */
}

/* Input field styling */
.form-control {
    background-color: #F2F2F2;
    /* Input background color */
    color: #212121;
    /* Input text color */
}

/* Card styling */
.card {
    background-color: #F2F2F2;
    /* Card background color */
    border: none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #00CE7C;
    /* Card header background color */
    color: #F2F2F2;
    /* Card header text color */
}

.card-body {
    color: #212121;
    /* Card body text color */
}

/* Chart canvas styling */
#pieChart {
    background-color: #F2F2F2;
    /* Chart background color */
    
}

/* Center the canvas */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* Adjust the height as needed */

    
}